@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  overflow-x: hidden;
}


.head {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 59%;
  height: 100%;
  object-fit: cover;
}

.social {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
}

.social li {
  list-style: none;
}

.typed-out{
  overflow: hidden;
  border-right: .30em solid orange;
  border-radius: 4px;
  white-space: nowrap;
  animation:
          typing 2s steps(20, end) forwards,
          blinking 1.2s infinite;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: orange; }
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.text {
  position: absolute;
  bottom: 25%;
  right: 15%;
}

.text h4 {
  color: dodgerblue;
}
